---
import Layout from '@layouts/Layout.astro'
import { locales } from '@root/src/i18n'
import { render } from 'astro:content'
import { getEntry } from 'astro:content'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const collections = (
    await Promise.all(
      [...locales, undefined].flatMap(async (locale) => {
        const data = await getCollection('blog')
        return data
          .filter((el) => {
            const postLocale = el.id.split('/')[0]
            return locales.includes(postLocale)
          })
          .map((el) => {
            const parts = el.id.split('/')
            const slug = parts.length > 1 ? parts.slice(1).join('/') : el.id
            const postLocale = parts[0]
            return { slug, locale: locale, postLocale }
          })
      }),
    )
  ).reduce((acc, cur) => [...acc, ...cur].flat(), [])

  return collections
    .filter(
      (entry) =>
        entry.locale === undefined || entry.locale === entry.postLocale,
    )
    .map((entry) => ({
      params: {
        slug: entry.slug,
        locale: entry.locale,
      },
    }))
}

const { slug } = Astro.params
const locale = Astro.currentLocale

const entryId = locale ? `${locale}/${slug}` : slug
const blogItem = await getEntry('blog', entryId)
const aiItems = await getCollection('blogAI', (item) => {
  const hasCurrentLocale =
    item.filePath?.split('/').at(-2) === Astro.currentLocale
  const isChildOfBlogItem = item.data.parentId.id === slug
  return hasCurrentLocale && isChildOfBlogItem
})

const renderedAiItems = await Promise.all(
  aiItems.map(async (item) => {
    const { Content } = await render(item)
    return { ...item, Content }
  }),
)

if (blogItem === undefined) {
  throw new Error(`Blog post not found: ${entryId}`)
}

const { Content } = await render(blogItem)
const { t } = Astro.locals

const ogUrl = new URL(Astro.url.pathname, Astro.site).href
const ogImage = new URL(`${Astro.url.pathname}og.png`, Astro.site).href
---

<Layout
  parentHref="/blog"
  title={`Blog - ${blogItem.data.title}`}
  og={{
    title: blogItem.data.title,
    type: 'article',
    url: ogUrl,
    image: ogImage,
    description: blogItem.data.description,
  }}
>
  <section>
    <header class="mb-6 text-center">
      <h1 class="mb-3 text-center text-4xl font-semibold">
        {blogItem.data.title}
      </h1>
      <h2 class="text-center text-2xl font-semibold">
        {blogItem.data.subtitle}
      </h2>
    </header>
    {
      renderedAiItems.length > 0 && (
        <div class="mb-4 flex flex-col items-center justify-center gap-2 md:mb-2 md:flex-row md:gap-4">
          <p
            id="article-write-label"
            class="after:ml-0.5 after:content-[':']"
            data-redactor={t('blogPage.redactor')}
            data-author={t('blogPage.author')}
          >
            {t('blogPage.author')}
          </p>
          <select
            class="border border-gray-300 bg-gray-100 px-4 py-2"
            id="article-writer"
          >
            <optgroup label={t('blogPage.human')}>
              <option selected value="human">
                {t('blogPage.me')}
              </option>
            </optgroup>
            <optgroup label={t('blogPage.clankers')}>
              {renderedAiItems.map((item) => (
                <option>{item.data.written_by}</option>
              ))}
            </optgroup>
          </select>
        </div>
      )
    }

    <div class="container mx-auto prose" id="human">
      <Content />
    </div>

    {
      renderedAiItems.map(({ data, Content }) => {
        return (
          <div
            class="ai-redacted container mx-auto hidden prose data-[visible='true']:block"
            data-redactor={data.written_by}
            data-visible="false"
          >
            <Content />
          </div>
        )
      })
    }
  </section>
</Layout>

<script>
  import { viewTransitionCallback } from '@root/src/utils'

  const init = () => {
    const humanToken = 'human'
    const writer = document.querySelector<HTMLSelectElement>('#article-writer')
    const label = document.querySelector<HTMLParagraphElement>(
      '#article-write-label',
    )
    const humanWritten = document.querySelector<HTMLDivElement>('#human')
    const aiRedacted = [
      ...document.querySelectorAll<HTMLDivElement>('.ai-redacted'),
    ]
    if (writer === null || label === null || humanWritten === null) return

    writer.addEventListener('change', (val) => {
      const value = (val?.target as HTMLSelectElement).value
      aiRedacted.forEach((item) => (item.dataset.visible = 'false'))
      if (value === humanToken) {
        humanWritten.style.display = 'block'
        label.innerText = label.dataset.author!
        return
      }

      humanWritten.style.display = 'none'
      label.innerText = label.dataset.redactor!
      const target = aiRedacted.find((item) => item.dataset.redactor === value)
      console.log(target?.dataset)
      if (target) {
        target.dataset.visible = 'true'
      }
    })
  }

  viewTransitionCallback(init)
</script>
