---
import Layout from '@layouts/Layout.astro'
import { locales } from '@root/src/i18n'
import { render } from 'astro:content'
import { getEntry } from 'astro:content'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const collections = (
    await Promise.all(
      [...locales, undefined].flatMap(async (locale) => {
        const data = await getCollection('blog')
        return data
          .filter((el) => {
            const postLocale = el.id.split('/')[0]
            return locales.includes(postLocale)
          })
          .map((el) => {
            const parts = el.id.split('/')
            const slug = parts.length > 1 ? parts.slice(1).join('/') : el.id
            const postLocale = parts[0]
            return { slug, locale: locale, postLocale }
          })
      }),
    )
  ).reduce((acc, cur) => [...acc, ...cur].flat(), [])

  return collections
    .filter((entry) => entry.locale === undefined || entry.locale === entry.postLocale)
    .map((entry) => ({
      params: {
        slug: entry.slug,
        locale: entry.locale,
      },
    }))
}

const { slug } = Astro.params
const locale = Astro.currentLocale

const entryId = locale ? `${locale}/${slug}` : slug
const blogItem = await getEntry('blog', entryId)
if (blogItem === undefined) {
  throw new Error(`Blog post not found: ${entryId}`)
}

const { Content } = await render(blogItem)
---

<Layout parentHref="/blog" title={`Blog - ${blogItem.data.title}`}>
  <section>
    <header class="mb-6 text-4xl font-semibold text-center">
      <h1>{blogItem.data.title}</h1>
    </header>
    <div class="container mx-auto prose">
      <Content />
    </div>
  </section>
</Layout>
