---
import Layout from '../layouts/Layout.astro'
import eslintConfig from '../../eslint.config?raw'
import prettierConfig from '../../.prettierrc?raw'
import tsconfig from '../../tsconfig.json?raw'
import type { CodeLanguage } from 'astro'
import { Code } from 'astro:components'

interface StackItem {
  type: string
  name: string
  href: string
}

const stack = [
  { type: 'Framework', name: 'Astro', href: 'https://astro.build/' },
  { type: 'Silnik styli', name: 'UnoCSS', href: 'https://unocss.dev/' },
  {
    type: 'Skrypty',
    name: 'TypeScript',
    href: 'https://www.typescriptlang.org/',
  },
  { type: 'Linter', name: 'ESLint', href: 'https://eslint.org/' },
  { type: 'Formatter', name: 'Prettier', href: 'https://prettier.io/' },
  {
    type: 'Edytor AI',
    name: 'Opencode (MiMo V2.5 Free)',
    href: 'https://opencode.ai/',
  },
] as const satisfies StackItem[]

interface ConfigItem {
  name: string
  code: string
  type: CodeLanguage
}

const configs = [
  {
    name: 'eslint.config.js',
    code: eslintConfig,
    type: 'ts',
  },
  {
    name: '.prettierrc',
    code: prettierConfig,
    type: 'json',
  },
  {
    name: 'tsconfig.json',
    code: tsconfig,
    type: 'jsonc',
  },
] as const satisfies ConfigItem[]
---

<Layout>
  <section container mx-auto mt-12>
    <header text-center text-4xl font-semibold mb-6>
      <h1>O witrynie</h1>
    </header>
    <article>
      <header text-2xl mb-4>
        <h2>Stack technologiczny</h2>
      </header>
      <table>
        {
          stack.map((item) => (
            <tr>
              <td pr-4 py-1>
                {item.type}:
              </td>
              <td>
                <a
                  link:text-blue-500
                  visited:text-purple-500
                  hover-visited:border-b="2px solid purple-500"
                  hover:border-b="2px solid blue-500"
                  border-b="2px solid transparent"
                  href={item.href}
                  target="_blank"
                >
                  {item.name}
                </a>
              </td>
            </tr>
          ))
        }
      </table>
    </article>
    <article mt-4>
      <header text-2xl mb-4>
        <h2>Konfiguracje</h2>
      </header>
      <div flex flex-col gap-2>
        {
          configs.map((item) => (
            <div>
              <Code
                data-name={item.name}
                class="py-4 px-2 rounded-2xl before:content-[attr(data-name)] before:block before before:mb-2 before:text-sm before:font-semibold before:border-b-1"
                code={item.code}
                lang={item.type}
              />
            </div>
          ))
        }
      </div>
    </article>
  </section>
</Layout>
