---
import type { CodeLanguage } from 'astro'
import { Code } from 'astro:components'

interface Variant {
  code: string
  lang: CodeLanguage
  name: string
}

interface Props {
  items: Variant[]
}
const { items } = Astro.props
---

<code-variant class="flex flex-col gap-2 rounded-xl border-2 border-gray-200 p-2">
  <div>
    {
      items.map((item, index) => (
        <button
          data-name={item.name}
          data-selected={(index === 0).toString()}
          type="button"
          class:list={[
            'data-[selected="true"]:bg-gray-200',
            'px-4 py-2 rounded-xl',
          ]}
        >
          {item.name}
        </button>
      ))
    }
  </div>
  <div>
    {
      items.map((item, index) => (
        <Code
          data-name={item.name}
          data-selected={(index === 0).toString()}
          class:list={['data-[selected="false"]:hidden', 'my-0!']}
          code={item.code.trim()}
          lang={item.lang}
        />
      ))
    }
  </div>
</code-variant>

<script>
  import { viewTransitionCallback } from '../utils'

  class CodeVariant extends HTMLElement {
    connectedCallback() {
      const items = this.querySelectorAll<HTMLButtonElement>('button[data-name]')
      const codes = this.querySelectorAll<HTMLPreElement>('pre[data-name]')

      items.forEach((item) => {
        const { dataset } = item

        item.addEventListener('click', () => {
          const matchingCode = [...codes.values()].find(
            (code) => code.dataset.name === dataset.name,
          )
          if (matchingCode === undefined) return
          items.forEach((i) => (i.dataset.selected = 'false'))
          codes.forEach((c) => (c.dataset.selected = 'false'))
          item.dataset.selected = 'true'
          matchingCode.dataset.selected = 'true'
        })
      })
    }
  }

  if (!customElements.get('code-variant')) {
    customElements.define('code-variant', CodeVariant)
  }

  viewTransitionCallback(() => {
    document.querySelectorAll('code-variant').forEach((el) => {
      if (!el.isConnected) return
      const items = el.querySelectorAll<HTMLButtonElement>('button[data-name]')
      const codes = el.querySelectorAll<HTMLPreElement>('pre[data-name]')
      items.forEach((item) => {
        const { dataset } = item

        item.addEventListener('click', () => {
          const matchingCode = [...codes.values()].find(
            (code) => code.dataset.name === dataset.name,
          )
          if (matchingCode === undefined) return
          items.forEach((i) => (i.dataset.selected = 'false'))
          codes.forEach((c) => (c.dataset.selected = 'false'))
          item.dataset.selected = 'true'
          matchingCode.dataset.selected = 'true'
        })
      })
    })
  })
</script>
