---
import { DEFAULT_LANGUAGE } from '../constants'

const currentLocale = Astro.currentLocale ?? DEFAULT_LANGUAGE
const { t } = Astro.locals

const base = import.meta.env.BASE_URL
const pathname = Astro.url.pathname

let relativePath = base !== '/' ? pathname.replace(base, '') : pathname
if (relativePath.startsWith(`/${currentLocale}`)) {
  relativePath = relativePath.slice(`/${currentLocale}`.length) || '/'
}

// TODO: Dehardcode language since it looks akward and imagine adding another language
const plHref =
  DEFAULT_LANGUAGE === 'pl'
    ? `${base}${relativePath}`
    : `${base}/pl${relativePath}`

const enHref = `${base}/en${relativePath}`

const currentIsPl = currentLocale === DEFAULT_LANGUAGE
---

<span class="inline-flex items-center gap-1">
  {
    currentIsPl ? (
      <span class="icon-[flagpack--pl] h-4.5 w-6 border border-gray-100" />
    ) : (
      <a
        href={plHref.replace('//', '/')}
        aria-label={t('langSwitcher.toPl')}
        class="icon-[flagpack--pl] h-4.5 w-6 border border-gray-100 opacity-40 transition-opacity hover:opacity-100"
      />
    )
  }
  <span class="text-gray-300">|</span>
  {
    !currentIsPl ? (
      <span class="icon-[flagpack--gb-ukm] h-4.5 w-6" />
    ) : (
      <a
        href={enHref.replace('//', '/')}
        aria-label={t('langSwitcher.toEn')}
        class="icon-[flagpack--gb-ukm] h-4.5 w-6 opacity-40 transition-opacity hover:opacity-100"
      />
    )
  }
</span>
