---
import { DEFAULT_LANGUAGE } from '../constants'

interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string
}

const { href, ...rest } = Astro.props
const base = import.meta.env.BASE_URL
const currentLocale = Astro.currentLocale

const localizedHref =
  currentLocale === DEFAULT_LANGUAGE ? href : `/${currentLocale}${href}`

const finalHref =
  href.startsWith('/') && base !== '/'
    ? `${base}${localizedHref}`
    : localizedHref
---

<a href={finalHref} {...rest}>
  <slot />
</a>
